.messanger {
    max-width: 840px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    height: 90vh;
    background-color: white;
    box-shadow: 0 0 12px 0 #d8d8d8;
    /*border: 1px solid lightgray;*/
}

.messanger__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.messanger__header {
    flex-shrink: 0;
    height: 60px;
}

.messanger__header-inner {
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    height: inherit;
}

.messanger__nav-btn {
    fill: #333;
}

.messanger__nav {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 12px 0 #d8d8d8;

    transition: left ease-in .4s;
}

.messanger__nav--hidden {
    left: -110%;
    transition: left ease-out .4s;
}

.messanger__nav-btn {
    width: 30px;
    height: 20px;
}

.messanger__chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: #fdfdfd;

    height: inherit;
    overflow: auto;

    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.messanger__item {
    display: flex;
    gap: 10px;
    width: 100%;
    /*align-self: end;*/
}

/*.messanger__item:nth-child(2n) article {*/
/*    background-color: red;*/
/*}*/

.messanger__user-avatar {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--brand);
}

.messanger__item-article {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    border-radius: 5px;
    background-color: #f3faff61;
}

.messanger__item-article p {
    font-size: 16px;
    text-align: left;
    margin: 0;
    word-break: break-all;
    color: black;

    max-height: 200px;
    overflow: auto;
}

.messanger__control {
    display: flex;
    align-items: center ;
    justify-self: flex-end;
    flex-shrink: 0;
    gap: 10px;
    padding: 10px;
}

.messanger__item-control {
    display: flex;
    flex-direction: row-reverse;
    font-size: 12px;
}

.messanger__item-control-likes {
    display: flex;
    gap: 5px;
    align-items: center;
}

.messanger__like-btn--clicked.messanger__like-btn--clicked svg {
    fill: var(--brand);
}

.messanger__item-control-likes svg {
    fill: white;
}


.messanger__item-control-likes svg:active {
    transform: scale(1.2);
}

.messanger__like-btn {
    width: 15px;
    height: 15px;
}

.messanger__like-btn span {
    display: block;
    height: inherit;
}

.messanger__control input {
    height: 40px;
    flex-grow: 1;
    padding-left: 10px;
    border: none;
    font-family: inherit;
    font-size: 16px;
}

.messanger__control button {
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.messanger__control button svg {
    fill: #333;
}

.messanger__control button svg:focus,
.messanger__control button svg:hover {
    fill: var(--brand);
}

@media (min-width: 640px) {
    .messanger__nav {
        width: 50%;
    }
}