.messenger__nav-btn {
    fill: #333;
}


.messenger__nav-btn {
    width: 30px;
    height: 20px;
}

.messenger__start-page,
.messenger__chat{
    padding: 10px;
    height: inherit;
    overflow: auto;

    background-color: #dcdcdc;
}

@media (min-width: 640px) {
    .messenger__nav {
        width: 50%;
    }

    .messenger__item-article {
        width: 100%;
    }
}