.messenger {
  max-width: 840px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  height: 90vh;
  background-color: white;
  box-shadow: 0 0 12px 0 #d8d8d8;
  /*border: 1px solid lightgray;*/
}

.inner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.main {
  height: inherit;
  overflow: auto;
}
